.nav1{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 0;
    margin: 0;
    
}
.nav1 > img {
   
    padding: 0;
    margin: 0;
    background: url("../../../assets/images/background.png");
    border: 0px solid #D0915D;
    border-radius: 0px 100px 0px 0px / 0px 100px 0px 0px;
}
.nav1 > a {
  

font-family: 'Poppins';
font-style: normal;
text-decoration: none;
font-weight: 400;
font-size: 24px;
line-height: 36px;
color: #A2AAA2;

    
}

